ipykernel>=6.15.1
pandas>=1.4.3
jupyter>=1.0.0
keras>=2.9.0
scikit-learn>=1.1.2
tensorflow>=2.9.1
torch>=1.12.1
skorch>=0.11.0
matplotlib>=3.5.3
seaborn>=0.11.2
altair>=4.2.0
sparkmagic>=0.20.0
Kqlmagic>=0.1.114.post21
powershell_kernel>=0.1.4
notebook-as-pdf>=0.5.0
nbconvert>=7.0.0
papermill>=2.4.0
rich>=12.5.1
black>=22.6.0
ipython-sql>=0.4.1
SQLAlchemy>=1.4.40
pyodbc>=4.0.34
cx-Oracle>=8.3.0
mysqlclient>=2.1.1
psycopg[binary,pool]>=3.0.16
